Repository kiranch97/docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: staging_build_api, staging_build_app, staging_deploy_api, staging_deploy_app, reload_nginx, build_server, deploy_server, build_app, test_app, deploy_app

Path conditions:
  staging_build_api: any of: docker-compose.staging.yml, odk-api/**/*
  staging_build_app: any of: docker-compose.staging.yml, odk-app/**/*
  staging_deploy_api: any of: docker-compose.staging.yml, odk-api/**/*
  staging_deploy_app: any of: docker-compose.staging.yml, odk-app/**/*
  reload_nginx: any of: ./nginx/nginx.conf
  build_server: any of: docker-compose.production.yml, odk-api/**/*
  deploy_server: any of: docker-compose.production.yml, odk-api/**/*
  build_app: any of: docker-compose.production.yml, odk-app/**/*
  test_app: any of: docker-compose.production.yml, odk-app/**/*
  deploy_app: any of: docker-compose.production.yml, odk-app/**/*

pgdata folder same as current production setup
  docker-compose.production.yml
Due: build_server, deploy_server, build_app, test_app, deploy_app

- main readme update - pictures moved - screenshot app added
  README.md
  images/odk-app-screenshot-streaming-1.jpg
  images/odk-stack-architecture-1.png
  images/odk-stack-architecture-2.png
  odk-api/README.md
  odk-app/README.md
Due: staging_build_api, staging_build_app, staging_deploy_api, staging_deploy_app, build_server, deploy_server, build_app, test_app, deploy_app

artwork added to main readme
  README.md
  images/odk-artwork-1.png
Due: none

image resize
  README.md
Due: none

image size app screenshot set
  odk-app/README.md
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

height > width
  odk-app/README.md
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

updated app features
  odk-app/README.md
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

handle stream_meta field in app > api comm
  odk-api/app/api/endpoints/frames.py
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_api, staging_build_app, staging_deploy_api, staging_deploy_app, build_server, deploy_server, build_app, test_app, deploy_app

commas for linter
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

wsStreamState improvement + load indicator on connecting state
  odk-app/src/components/stream/StreamControls.vue
  odk-app/src/components/stream/StreamCount.vue
  odk-app/src/components/stream/StreamTime.vue
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

- min drive speed on dev = 0 - >= bug fix in speed check
  odk-app/.env.development
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

doc fix
  odk-api/app/api/endpoints/frames.py
Due: staging_build_api, staging_deploy_api, build_server, deploy_server

quick push
  odk-app/.env.development
  odk-app/src/components/stream/StreamSpeed.vue
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

readme update
  README.md
Due: none

link fix
  README.md
Due: none

set min / max speed, added toggle to controls in sidebar
  odk-app/.env.production
  odk-app/.env.staging
  odk-app/src/assets/ui/cog.svg
  odk-app/src/components/stream/StreamSidebar.vue
  odk-app/src/components/stream/StreamSpeed.vue
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

link updates
  README.md
Due: none

update!
  README.md
Due: none

clearing stream interval before starting new one
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

errors => errors + warnings, some bugfixing regarding reloading, pwa, hide warnings
  odk-app/src/App.vue
  odk-app/src/components/stream/StreamControls.vue
  odk-app/src/components/stream/StreamCount.vue
  odk-app/src/components/stream/StreamError.vue
  odk-app/src/components/stream/StreamSidebar.vue
  odk-app/src/components/stream/StreamSpeed.vue
  odk-app/src/components/stream/StreamTime.vue
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

speed readout to 1 decimal
  odk-app/src/components/stream/StreamSpeed.vue
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

- clean up - typo fix - new speed stream meta data
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

improved ws message handling
  odk-api/app/api/endpoints/frames.py
  odk-api/app/log/messages.py
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_api, staging_build_app, staging_deploy_api, staging_deploy_app, build_server, deploy_server, build_app, test_app, deploy_app

dc prod update
  docker-compose.production.yml
Due: build_server, deploy_server, build_app, test_app, deploy_app

make full back button text clickable in menu
  odk-app/src/components/stream/StreamSidebar.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

format fix
  odk-app/src/components/stream/StreamSidebar.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

counts fixed, made counting system more general (no obj names mentioned, renamed obj images to obj names from db to correspond)
  odk-app/src/assets/objects/Cardboard.png
  odk-app/src/assets/objects/Christmas-tree.png
  odk-app/src/assets/objects/Construction-container.png
  odk-app/src/assets/objects/Garbage-bag.png
  odk-app/src/assets/objects/Garbage-bins.png
  odk-app/src/assets/objects/Matresses.png
  odk-app/src/assets/objects/cardboard.svg
  odk-app/src/assets/objects/construction_container.svg
  odk-app/src/assets/objects/container_small.svg
  odk-app/src/assets/objects/furniture.svg
  odk-app/src/assets/objects/garbage_bag.svg
  odk-app/src/assets/objects/kerstboom.svg
  odk-app/src/assets/objects/matras.svg
  odk-app/src/assets/objects/witgoed.svg
  odk-app/src/assets/objects/wood.svg
  odk-app/src/components/stream/StreamCount.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

naming fix
  odk-app/src/components/stream/StreamCount.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

stop stream on ws close event
  odk-app/src/components/stream/StreamingClient.vue
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

local docker compose for local testing
  odk-app/Dockerfile
  odk-app/docker-compose.yml
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

package lock update
  odk-app/package-lock.json
Due: staging_build_app, staging_deploy_app, build_app, test_app, deploy_app

auth creds update in queue frame tool
  odk-api/tools/queue_analysed_frames/queue_analysed_frame.sh
Due: staging_build_api, staging_deploy_api, build_server, deploy_server

add production gitlab ci flow
  .gitlab-ci.yml
Due: none

temp disable db startup
  .gitlab-ci.yml
Due: none

change to push ci
  docker-compose.production.yml
Due: build_server, deploy_server, build_app, test_app, deploy_app

enable docker volumed db
  docker-compose.production.yml
Due: build_server, deploy_server, build_app, test_app, deploy_app

enabled db in ci & db mounted to docker volume
  .gitlab-ci.yml
  docker-compose.production.yml
Due: build_server, deploy_server, build_app, test_app, deploy_app

host deprecated database
  .gitlab-ci.yml
  docker-compose.production.yml
Due: build_server, deploy_server, build_app, test_app, deploy_app

tmp fix for conflicting packages
  odk-api/Dockerfile
Due: staging_build_api, staging_deploy_api, build_server, deploy_server

Redeploy
  README.md
Due: none
