Repository kiranch97/docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, build_app

.gitlab-ci.yml:

stages:
    - services
    - build
    - test
    - deploy

# POSTGRES DATABASE

start_database:
    stage: services
    script:
        - docker-compose -f docker-compose.ci.yml up -d postgres-db

# RABBITMQ MESSAGE BROKER

start_rabbitmq:
    stage: services
    script:
        - docker-compose -f docker-compose.ci.yml up -d rabbitmq

# FASTAPI SERVER

build_server:
    stage: build
    script:
        - docker-compose -f docker-compose.ci.yml stop fastapi-server
        - docker-compose -f docker-compose.ci.yml build fastapi-server
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-api/**/*


integration_test_server:
    stage: test
    needs: ['build_server']
    script:
        - docker-compose -f docker-compose.ci.yml run --rm fastapi-server bash run_db_connection_test.sh

deploy_server:
    stage: deploy
    needs: ['integration_test_server']
    script:
        - docker-compose -f docker-compose.ci.yml up -d --no-deps fastapi-server

# VUE PWA

build_app:
    stage: build
    script:
        - docker-compose -f docker-compose.ci.yml stop vue-pwa
        - docker-compose -f docker-compose.ci.yml build vue-pwa
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-app/**/*

test_app:
    stage: test
    needs: ['build_app']
    script:
        - echo "NOT YET IMPLEMENTED"

deploy_app:
    stage: deploy
    needs: ['test_app']
    script:
        - docker-compose -f docker-compose.ci.yml up -d --no-deps vue-pwa

disabled `test_app`
  .gitlab-ci.yml
  odk-api/README.md
Due: build_server

replaced needs functions with rules:changes
  .gitlab-ci.yml
  odk-api/README.md
Due: build_server

app ci push
  odk-app/README.md
Due: build_app

nginx proxy added
  .gitlab-ci.yml
  docker-compose.ci.yml
  nginx.conf
  nginx_old.conf
Due: build_server, build_app

nginx conf fix
  nginx.conf
Due: none

nginx folder moved
  docker-compose.ci.yml
Due: build_server, build_app

location typo
  nginx.conf
Due: none

events had to
  nginx.conf
Due: none

proxy cache removed
  nginx.conf
Due: none

fix?
  nginx.conf
Due: none

80 and 443 seperated
  nginx.conf
Due: none

nginx stuff
  .gitlab-ci.yml
  nginx.conf
Due: none

nginx setup change
  .gitlab-ci.yml
Due: none

ssl added after 443
  nginx.conf
Due: none

proxy to db
  .gitlab-ci.yml
  nginx.conf
Due: none

nginx
  docker-compose.ci.yml
  nginx.conf
Due: build_server, build_app

request uri in proxy pass
  nginx.conf
Due: none

new proxy pass setup
  nginx.conf
Due: none

fix for path forwarding in app
  docker-compose.ci.yml
  nginx.conf
  odk-app/Dockerfile
  odk-app/package-lock.json
  odk-app/production-nginx.conf
Due: build_server, build_app

try files moved
  nginx.conf
Due: none

app inner port changed to 80
  nginx.conf
Due: none

cleaner config of dockerfile
  odk-app/Dockerfile
Due: build_app

fixing api proxy
  nginx.conf
Due: none

env files update
  odk-app/.env.development
  odk-app/.env.production
Due: build_app

ci push
  odk-api/main.py
Due: build_server

compose clean up
  docker-compose.ci.yml
Due: build_server, build_app

nginx clean up
  nginx.conf
Due: none

Remove tree icon from swiper in StreamCount
  .gitignore
  odk-app/src/components/StreamCount.vue
Due: build_app

Hide mode switch
  odk-app/src/components/StreamingClient.vue
Due: build_app

ide things to gitignore
  .gitignore
Due: none

only start ci pipeline in when pushed to production branch
  .gitlab-ci.yml
Due: none

ci test
  docker-compose.dev.yml
Due: none

previous numpy version was not available anymore
  odk-frame-analyzer/model/requirements.txt
Due: none

torch requirement update
  odk-frame-analyzer/model/requirements.txt
Due: none

ignore .env file
  odk-frame-analyzer/.gitignore
Due: none

Replace low res PNG with SVG.
  odk-app/src/assets/manual/logo-2.png
  odk-app/src/assets/manual/logo.png
  odk-app/src/assets/manual/logo.svg
  odk-app/src/assets/manual/logo@1x.png
  odk-app/src/assets/manual/logo@2x.png
  odk-app/src/components/Onboarding.vue
  odk-app/src/components/manuals/ChromeManualPage.vue
  odk-app/src/components/manuals/DesktopManualPage.vue
  odk-app/src/components/manuals/EdgeManualPage.vue
  odk-app/src/components/manuals/FirefoxManualPage.vue
  odk-app/src/components/manuals/IosManualPage.vue
  odk-app/src/components/manuals/OtherBrowsersManualPage.vue
  odk-app/yarn.lock
Due: build_app

Make span in button full-width and left centered
  odk-app/src/components/ChecklistPage.vue
Due: build_app

ci test
  docker-compose.ci.yml
Due: build_server, build_app

does this fix the pipeline?
  .gitlab-ci.yml
Due: none
