Repository kiranch97/docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

.gitlab-ci.yml:

stages:
    - services
    - build
    - test
    - deploy

# NGINX PROXY

start_nginx:
    stage: services
    script:
        - docker-compose -f docker-compose.ci.yml up -d nginx-proxy

# POSTGRES DATABASE

start_database:
    stage: services
    script:
        - docker-compose -f docker-compose.ci.yml up -d postgres-db

# RABBITMQ MESSAGE BROKER

start_rabbitmq:
    stage: services
    script:
        - docker-compose -f docker-compose.ci.yml up -d rabbitmq

# FASTAPI SERVER

build_server:
    stage: build
    script:
        - docker-compose -f docker-compose.ci.yml stop fastapi-server
        - docker-compose -f docker-compose.ci.yml build fastapi-server
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-api/**/*

integration_test_server:
    stage: test
    script:
        - docker-compose -f docker-compose.ci.yml run --rm fastapi-server bash run_db_connection_test.sh
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-api/**/*


deploy_server:
    stage: deploy
    script:
        - docker-compose -f docker-compose.ci.yml up -d --no-deps fastapi-server
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-api/**/*

# VUE PWA

build_app:
    stage: build
    script:
        - docker-compose -f docker-compose.ci.yml stop vue-pwa
        - docker-compose -f docker-compose.ci.yml build vue-pwa
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-app/**/*

test_app:
    stage: test
    script:
        - echo "NOT YET IMPLEMENTED"
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-app/**/*


deploy_app:
    stage: deploy
    script:
        - docker-compose -f docker-compose.ci.yml up -d --no-deps vue-pwa
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-app/**/*

ci test
  docker-compose.ci.yml
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

moving frame analyzer to own repo
  docker-compose.yml
  odk-frame-analyzer/.gitignore
  odk-frame-analyzer/INSTALL.md
  odk-frame-analyzer/MlWorker.py
  odk-frame-analyzer/PrivacyFilterTest.py
  odk-frame-analyzer/README.md
  odk-frame-analyzer/model/.gitignore
  odk-frame-analyzer/model/.ipynb_checkpoints/test_notebook-checkpoint.ipynb
  odk-frame-analyzer/model/GarbageImageClassifier.py
  odk-frame-analyzer/model/cfg/garb.data
  odk-frame-analyzer/model/cfg/garb.names
  odk-frame-analyzer/model/cfg/garb_test.txt
  odk-frame-analyzer/model/cfg/garb_train.txt
  odk-frame-analyzer/model/cfg/garb_trainval.txt
  odk-frame-analyzer/model/cfg/yolov3_garb.cfg
  odk-frame-analyzer/model/cfg/yolov3_garb_test.cfg
  odk-frame-analyzer/model/darknet.py
  odk-frame-analyzer/model/detector_garb.py
  odk-frame-analyzer/model/garbage_detection.py
  odk-frame-analyzer/model/models.py
  odk-frame-analyzer/model/pallete
  odk-frame-analyzer/model/requirements.txt
  odk-frame-analyzer/model/test.py
  odk-frame-analyzer/model/util.py
  odk-frame-analyzer/model/utils/adabound.py
  odk-frame-analyzer/model/utils/datasets.py
  odk-frame-analyzer/model/utils/gcp.sh
  odk-frame-analyzer/model/utils/google_utils.py
  odk-frame-analyzer/model/utils/init.py
  odk-frame-analyzer/model/utils/parse_config.py
  odk-frame-analyzer/model/utils/torch_utils.py
  odk-frame-analyzer/model/utils/utils.py
  odk-frame-analyzer/model/weights/.gitignore
  odk-frame-analyzer/model/weights/download_link.md
  odk-frame-analyzer/odkframelib/Utils.py
Due: none

removing references to dashboard
  odk-api/main.py
  odk-api/odklib/FrameBroker.py
Due: build_server, integration_test_server, deploy_server

fixing package location
  odk-api/odklib/DatabaseManager.py
  odk-api/odklib/FrameBroker.py
Due: build_server, integration_test_server, deploy_server

unused dash clean up + rogue return clean up
  odk-api/odklib/FrameBroker.py
Due: build_server, integration_test_server, deploy_server

fix for test
  odk-api/odklib/DatabaseManager.py
Due: build_server, integration_test_server, deploy_server

reverting package name
  odk-api/odklib/FrameBroker.py
Due: build_server, integration_test_server, deploy_server

Update README's
  README.md
  odk-api/README.md
Due: build_server, integration_test_server, deploy_server

Remove Onboarding component
  odk-app/src/components/Onboarding.vue
Due: build_app, test_app, deploy_app

changing deployment branch to master
  .gitlab-ci.yml
Due: none

Remove less as it is not used
  odk-app/package.json
  odk-app/yarn.lock
Due: build_app, test_app, deploy_app

Update browserslist and packages
  odk-app/package.json
  odk-app/yarn.lock
Due: build_app, test_app, deploy_app

Add linters and stricter rules
  odk-app/.eslintrc.js
  odk-app/.stylelintignore
  odk-app/.stylelintrc.js
  odk-app/package.json
  odk-app/vue.config.js
  odk-app/yarn.lock
Due: build_app, test_app, deploy_app

Refactor files according to linters
  odk-app/src/App.vue
  odk-app/src/assets/animation/data.js
  odk-app/src/components/ChecklistPage.vue
  odk-app/src/components/LoginPage.vue
  odk-app/src/components/OnboardingAnimation.vue
  odk-app/src/components/RecommendationPage.vue
  odk-app/src/components/StreamCount.vue
  odk-app/src/components/StreamTime.vue
  odk-app/src/components/StreamingClient.vue
  odk-app/src/components/UserPage.vue
  odk-app/src/main.js
  odk-app/src/registerServiceWorker.js
  odk-app/src/utils/utils.js
Due: build_app, test_app, deploy_app

Add accordion functionality
  odk-app/src/components/BrowserStartPage.vue
  odk-app/src/components/manuals/ChromeManualPage.vue
  odk-app/src/components/manuals/DesktopManualPage.vue
  odk-app/src/components/manuals/EdgeManualPage.vue
  odk-app/src/components/manuals/FirefoxManualPage.vue
  odk-app/src/components/manuals/InstallManual.vue
  odk-app/src/components/manuals/IosManualPage.vue
  odk-app/src/components/manuals/OtherBrowsersManualPage.vue
  odk-app/src/components/manuals/OtherDevicesManuals.vue
  odk-app/src/components/manuals/content.json
  odk-app/src/routes.js
Due: build_app, test_app, deploy_app

Remove onboarding component again
  odk-app/src/components/Onboarding.vue
Due: build_app, test_app, deploy_app

Refactor SCSS to module scope
  odk-app/src/components/manuals/InstallManual.vue
Due: build_app, test_app, deploy_app

Make manual page according to design
  odk-app/src/components/manuals/InstallManual.vue
  odk-app/src/components/manuals/content.json
Due: build_app, test_app, deploy_app

Set this.isAuto to false on streaming client setup
  odk-app/src/components/StreamingClient.vue
Due: build_app, test_app, deploy_app

Fix one linter issue
  odk-app/src/assets/animation/data.js
Due: build_app, test_app, deploy_app

QR authentication, changed db structure, streamId > appId
  odk-api/main.py
  odk-api/odklib/AnalysedFrame.py
  odk-api/odklib/DatabaseManager.py
  odk-api/odklib/FrameBroker.py
  odk-api/requirements.txt
  odk-app/src/App.vue
  odk-app/src/components/BrowserStartPage.vue
  odk-app/src/components/ChecklistPage.vue
  odk-app/src/components/LoginPage.vue
  odk-app/src/components/Onboarding.vue
  odk-app/src/components/RecommendationPage.vue
  odk-app/src/components/StreamAnalyzedFrame.vue
  odk-app/src/components/StreamCount.vue
  odk-app/src/components/StreamingClient.vue
  odk-app/src/components/WelcomePage.vue
  odk-app/src/routes.js
  odk-app/testing/testStreamWebSocket.js
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

returned full requirements list
  odk-api/requirements.txt
Due: build_server, integration_test_server, deploy_server

QR_LOGIN_PASSWORD var added
  docker-compose.ci.yml
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

Improve device and browser detection
  odk-app/src/components/BrowserStartPage.vue
  odk-app/src/components/manuals/content.json
  odk-app/src/utils/detect.js
Due: build_app, test_app, deploy_app

use front camera (instead of auto)
  odk-app/src/components/LoginPage.vue
Due: build_app, test_app, deploy_app

fix code!
  odk-app/src/components/BrowserStartPage.vue
  odk-app/src/components/StreamingClient.vue
Due: build_app, test_app, deploy_app

minor overlap fix
  odk-app/src/components/UserPage.vue
Due: build_app, test_app, deploy_app

camera facing user when showing QR (selfie camera)
  odk-api/main.py
  odk-api/odklib/AnalysedFrame.py
  odk-api/odklib/DatabaseManager.py
  odk-api/odklib/FrameBroker.py
  odk-api/requirements.txt
  odk-app/src/App.vue
  odk-app/src/components/ChecklistPage.vue
  odk-app/src/components/LoginPage.vue
  odk-app/src/components/Onboarding.vue
  odk-app/src/components/RecommendationPage.vue
  odk-app/src/components/StreamAnalyzedFrame.vue
  odk-app/src/components/StreamCount.vue
  odk-app/src/components/StreamingClient.vue
  odk-app/src/components/WelcomePage.vue
  odk-app/src/routes.js
  odk-app/testing/testStreamWebSocket.js
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

gitignore update + qr env var in compose file
  .gitignore
  docker-compose.ci.yml
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

pytest-sqlalchemy added
  odk-api/requirements.txt
Due: build_server, integration_test_server, deploy_server

not reloading nginx on other branch then master
  .gitlab-ci.yml
Due: none

Add instructions for more devices
  odk-app/src/components/BrowserStartPage.vue
  odk-app/src/components/StreamingClient.vue
  odk-app/src/components/manuals/content.json
Due: build_app, test_app, deploy_app

Add Edge, Desktop and tweak UX
  odk-app/package.json
  odk-app/src/assets/manual/edge-1.jpg
  odk-app/src/assets/manual/edge-2.jpg
  odk-app/src/assets/manual/edge-3.jpg
  odk-app/src/assets/manual/edge-4.jpg
  odk-app/src/assets/manual/edge-5.jpg
  odk-app/src/components/BrowserStartPage.vue
  odk-app/src/components/manuals/InstallManual.vue
  odk-app/src/components/manuals/content.json
  odk-app/src/main.js
  odk-app/yarn.lock
Due: build_app, test_app, deploy_app

Minor copy changes
  odk-app/src/components/manuals/content.json
Due: build_app, test_app, deploy_app

name convention app_id to stream_id (everywhere), created_by_app < stream_id
  odk-api/main.py
  odk-api/odklib/AnalysedFrame.py
  odk-api/odklib/DatabaseManager.py
  odk-api/odklib/DiskWriter.py
  odk-api/odklib/FrameBroker.py
  odk-api/odklib/StreamLogger.py
  odk-api/test_main.py
Due: build_server, integration_test_server, deploy_server
