Repository kiranch97/docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: staging_build_server, staging_deploy_server, reload_nginx, build_server, deploy_server, build_app, test_app, deploy_app

staging_build_server:
  stage: build
  tags:
  - staging
  script:
  - docker-compose -f docker-compose.staging.yml stop api
  - docker-compose -f docker-compose.staging.yml build api

staging_deploy_server:
  stage: deploy
  tags:
  - staging
  script:
  - docker-compose -f docker-compose.staging.yml up -d --no-deps api

reload_nginx:
  stage: services
  script:
  - docker restart odk-proxy

build_server:
  stage: build
  script:
  - docker-compose -f docker-compose.production.yml stop api
  - docker-compose -f docker-compose.production.yml build api

deploy_server:
  stage: deploy
  script:
  - docker-compose -f docker-compose.production.yml up -d --no-deps api

build_app:
  stage: build
  script:
  - docker-compose -f docker-compose.production.yml stop app
  - docker-compose -f docker-compose.production.yml build app

test_app:
  stage: test
  script:
  - echo "NOT YET IMPLEMENTED"

deploy_app:
  stage: deploy
  script:
  - docker-compose -f docker-compose.production.yml up -d --no-deps app

added internal network to api
  .gitlab-ci.yml
  docker-compose.staging.yml
Due: staging_build_server, staging_deploy_server

internal network
  docker-compose.staging.yml
Due: staging_build_server, staging_deploy_server

env vars for app moved to compose
  docker-compose.staging.yml
  odk-app/.env.production
Due: staging_build_server, staging_deploy_server, build_app, test_app, deploy_app

var test
  .gitlab-ci.yml
  docker-compose.staging.yml
  odk-app/Dockerfile
Due: staging_build_server, staging_deploy_server, build_app, test_app, deploy_app

so close
  odk-app/Dockerfile
Due: build_app, test_app, deploy_app

yes!
  docker-compose.staging.yml
  odk-app/Dockerfile
Due: staging_build_server, staging_deploy_server, build_app, test_app, deploy_app

export strat
  odk-app/Dockerfile
Due: build_app, test_app, deploy_app

zucht
  odk-app/Dockerfile
Due: build_app, test_app, deploy_app

ahhhhh!
  docker-compose.staging.yml
  odk-app/Dockerfile
Due: staging_build_server, staging_deploy_server, build_app, test_app, deploy_app

new strat #3
  docker-compose.staging.yml
  odk-app/Dockerfile
Due: staging_build_server, staging_deploy_server, build_app, test_app, deploy_app

something else
  odk-app/Dockerfile
  odk-app/Dockerfile_old
Due: build_app, test_app, deploy_app

jup
  docker-compose.staging.yml
  odk-app/Dockerfile
Due: staging_build_server, staging_deploy_server, build_app, test_app, deploy_app

ja
  odk-app/Dockerfile
Due: build_app, test_app, deploy_app

rm prod env first
  odk-app/Dockerfile
Due: build_app, test_app, deploy_app

force mv
  odk-app/Dockerfile
Due: build_app, test_app, deploy_app

env stuff
  odk-app/.env.staging
  odk-app/.gitignore
Due: build_app, test_app, deploy_app

clean up
  .gitignore
  odk-app/Dockerfile
Due: build_app, test_app, deploy_app

does this work?
  docker-compose.staging.yml
Due: staging_build_server, staging_deploy_server

clean up
  .gitlab-ci.yml
  .gitlab-ci_copy.yml
  postgres_dockerfiles/Dockerfile
Due: none

clean up
  nginx/conf.d/proxy.conf
  nginx/conf.d/security_headers.conf
  nginx/conf.d/tls.conf
  nginx/conf.d/websocket.conf
  nginx/nginx.conf
  nginx/nginx.dev.conf
Due: none

remove ds store file
  .DS_Store
  .gitignore
Due: none

prod prep
  docker-compose.production.yml
  docker-compose.staging.yml
  odk-app/.env.production
Due: staging_build_server, staging_deploy_server, build_server, deploy_server, build_app, test_app, deploy_app

readme update submodule
  .gitmodules
  README.md
Due: none

dc update
  docker-compose.development.yml
  docker-compose.staging.yml
  docker-compose.yml
Due: staging_build_server, staging_deploy_server

exposing db and rmq
  docker-compose.staging.yml
Due: staging_build_server, staging_deploy_server

exposing stack #2
  docker-compose.staging.yml
Due: staging_build_server, staging_deploy_server

make network attachable
  docker-compose.staging.yml
Due: staging_build_server, staging_deploy_server

connect to default network
  docker-compose.staging.yml
Due: staging_build_server, staging_deploy_server

formatted
  docker-compose.staging.yml
Due: staging_build_server, staging_deploy_server

preparing prod for volume
  docker-compose.production.yml
  docker-compose.staging.yml
Due: staging_build_server, staging_deploy_server, build_server, deploy_server, build_app, test_app, deploy_app

- single version env - no default admin password
  docker-compose.production.yml
  docker-compose.staging.yml
  odk-api/.development.env
  odk-api/.global.env
  odk-api/.production.env
  odk-api/.staging.env
  odk-api/app/core/config.py
Due: staging_build_server, staging_deploy_server, build_server, deploy_server, build_app, test_app, deploy_app

fix and update dev compose
  docker-compose.development.yml
  odk-api/.development.env
Due: staging_build_server, staging_deploy_server, build_server, deploy_server

part 1 frontend refactor + TEMP GPS readout
  odk-app/src/components/BrowserStartPage.vue
  odk-app/src/components/StreamTime.vue
  odk-app/src/components/StreamingClient.vue
  odk-app/src/components/authentication/CodePage.vue
  odk-app/src/components/authentication/LoginPage.vue
  odk-app/src/components/authentication/UserPage.vue
  odk-app/src/components/manuals/Manual.vue
  odk-app/src/components/onboarding/ChecklistPage.vue
  odk-app/src/components/onboarding/ClearStoragePage.vue
  odk-app/src/components/onboarding/OnboardingAnimation.vue
  odk-app/src/components/onboarding/RecommendationPage.vue
  odk-app/src/components/onboarding/TrialPage.vue
  odk-app/src/components/onboarding/WelcomePage.vue
  odk-app/src/components/stream/StreamAnalyzedFrame.vue
  odk-app/src/components/stream/StreamControls.vue
  odk-app/src/components/stream/StreamCount.vue
  odk-app/src/components/stream/StreamError.vue
  odk-app/src/components/stream/StreamSidebar.vue
  odk-app/src/components/stream/StreamTime.vue
  odk-app/src/components/stream/StreamingClient.vue
  odk-app/src/components/util/ComponentIncluder.vue
  odk-app/src/main.js
  odk-app/src/routes.js
  odk-app/src/utils/pwaFeatures.js
  odk-app/src/utils/utils.js
Due: build_app, test_app, deploy_app

volume name fix
  docker-compose.staging.yml
Due: staging_build_server, staging_deploy_server

Style fixes according to review
  odk-app/src/App.vue
  odk-app/src/assets/pwa/notification.png
  odk-app/src/assets/pwa/notification.svg
  odk-app/src/assets/pwa/trial.png
  odk-app/src/assets/ui/checkmark.svg
  odk-app/src/components/authentication/CodePage.vue
  odk-app/src/components/authentication/LoginPage.vue
  odk-app/src/components/authentication/UserPage.vue
  odk-app/src/components/manuals/Manual.vue
  odk-app/src/components/onboarding/ChecklistPage.vue
  odk-app/src/components/onboarding/ClearStoragePage.vue
  odk-app/src/components/onboarding/OnboardingAnimation.vue
  odk-app/src/components/onboarding/RecommendationPage.vue
  odk-app/src/components/onboarding/TrialPage.vue
  odk-app/src/components/onboarding/WelcomePage.vue
  odk-app/src/components/stream/StreamCount.vue
  odk-app/src/components/stream/StreamSidebar.vue
  odk-app/src/styles/elements.scss
  odk-app/src/styles/global/_theme.scss
  odk-app/src/styles/global/_variables.scss
Due: build_app, test_app, deploy_app

Clear code when wrong
  odk-app/src/components/authentication/CodePage.vue
Due: build_app, test_app, deploy_app

Login check on all relevant pages
  odk-app/src/components/authentication/CodePage.vue
  odk-app/src/components/authentication/UserPage.vue
  odk-app/src/components/onboarding/ChecklistPage.vue
  odk-app/src/components/onboarding/RecommendationPage.vue
  odk-app/src/components/onboarding/TrialPage.vue
  odk-app/src/components/onboarding/WelcomePage.vue
  odk-app/src/components/stream/StreamingClient.vue
  odk-app/src/utils/loggedInCheck.js
Due: build_app, test_app, deploy_app

- Implemented speed --improved WS flow ---cleaned client
  odk-app/.env.development
  odk-app/.env.production
  odk-app/.env.staging
  odk-app/src/components/onboarding/ChecklistPage.vue
  odk-app/src/components/stream/StreamControls.vue
  odk-app/src/components/stream/StreamTime.vue
  odk-app/src/components/stream/StreamingClient.vue
Due: build_app, test_app, deploy_app

Added set min speed option (dev only)
  odk-app/.env.production
  odk-app/.env.staging
  odk-app/src/assets/ui/minus.svg
  odk-app/src/assets/ui/plus.svg
  odk-app/src/components/stream/StreamingClient.vue
Due: build_app, test_app, deploy_app

updated documentation
  README.md
  docker-compose.yml
  odk-api/FEATURES.md
  odk-api/README.md
  odk-api/odk-architecture.png
  odk-app/README.md
Due: staging_build_server, staging_deploy_server, build_server, deploy_server, build_app, test_app, deploy_app

Path conditions:
  staging_build_server: any of: docker-compose.staging.yml, odk-api/**/*
  staging_deploy_server: any of: docker-compose.staging.yml, odk-api/**/*
  reload_nginx: any of: ./nginx/nginx.conf
  build_server: any of: docker-compose.production.yml, odk-api/**/*
  deploy_server: any of: docker-compose.production.yml, odk-api/**/*
  build_app: any of: docker-compose.production.yml, odk-app/**/*
  test_app: any of: docker-compose.production.yml, odk-app/**/*
  deploy_app: any of: docker-compose.production.yml, odk-app/**/*
