Repository kiranch97/docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: reload_nginx, build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

reload_nginx:
  stage: services
  script:
  - docker restart odk-proxy

build_server:
  stage: build
  script:
  - docker-compose -f docker-compose.ci.yml stop fastapi-server
  - docker-compose -f docker-compose.ci.yml build fastapi-server

integration_test_server:
  stage: test
  script:
  - docker-compose -f docker-compose.ci.yml run --rm fastapi-server bash run_db_connection_test.sh

deploy_server:
  stage: deploy
  script:
  - docker-compose -f docker-compose.ci.yml up -d --no-deps fastapi-server

build_app:
  stage: build
  script:
  - docker-compose -f docker-compose.ci.yml stop vue-pwa
  - docker-compose -f docker-compose.ci.yml build vue-pwa

test_app:
  stage: test
  script:
  - echo "NOT YET IMPLEMENTED"

deploy_app:
  stage: deploy
  script:
  - docker-compose -f docker-compose.ci.yml up -d --no-deps vue-pwa

clean up
  odk-api/app/api/endpoints/login.py
Due: build_server, integration_test_server, deploy_server

schemas for frame
  odk-api/app/api/endpoints/stream.py
  odk-api/app/broker/outgoing.py
  odk-api/app/core/events.py
  odk-api/app/models/frame.py
  odk-api/app/schemas/__init__.py
  odk-api/app/schemas/frame.py
Due: build_server, integration_test_server, deploy_server

close session after persist
  odk-api/app/broker/incoming.py
  odk-api/app/logic/services.py
Due: build_server, integration_test_server, deploy_server

check active in superuser function
  odk-api/app/logic/users.py
Due: build_server, integration_test_server, deploy_server

add frame endpoint
  odk-api/app/api/__init__.py
  odk-api/app/api/endpoints/frames.py
  odk-api/app/core/config.py
  odk-api/app/main.py
Due: build_server, integration_test_server, deploy_server

response user with UUID
  odk-api/app/schemas/user.py
Due: build_server, integration_test_server, deploy_server

docker compose for staging server
  docker-compose.staging.yml
Due: none

change rmq port in staging docker compose
  docker-compose.staging.yml
Due: none

acknowledge incoming rmq messages
  odk-api/app/broker/incoming.py
Due: build_server, integration_test_server, deploy_server

remove unused code
  odk-api/app/broker/incoming.py
Due: build_server, integration_test_server, deploy_server

remove unused code
  odk-api/app/api/endpoints/frames.py
  odk-api/app/broker/consumer.py
  odk-api/app/broker/exchanges.py
  odk-api/app/broker/producer.py
Due: build_server, integration_test_server, deploy_server

better date formatting
  odk-api/app/logic/utils.py
Due: build_server, integration_test_server, deploy_server

different default port in send tool
  odk-api/tools/send_raw_frames/index.js
Due: build_server, integration_test_server, deploy_server

date format not needed
  odk-api/app/api/endpoints/frames.py
Due: build_server, integration_test_server, deploy_server

cleaning
  odk-api/app/logic/utils.py
Due: build_server, integration_test_server, deploy_server

Auth screens, trial page, page flow, general styling improvements
  odk-app/package-lock.json
  odk-app/package.json
  odk-app/src/App.vue
  odk-app/src/assets/pwa/gemeente-logo.png
  odk-app/src/assets/pwa/recommendation1-2.png
  odk-app/src/assets/pwa/recommendation2-2.png
  odk-app/src/assets/pwa/trial.png
  odk-app/src/assets/ui/backspace-solid.svg
  odk-app/src/assets/ui/backspace.svg
  odk-app/src/assets/ui/burger-menu.svg
  odk-app/src/assets/ui/chevron-right-grey.svg
  odk-app/src/assets/ui/logout.svg
  odk-app/src/assets/ui/manual.svg
  odk-app/src/components/BrowserStartPage.vue
  odk-app/src/components/ChecklistPage.vue
  odk-app/src/components/CodePage.vue
  odk-app/src/components/RecommendationPage.vue
  odk-app/src/components/StreamCount.vue
  odk-app/src/components/StreamingClient.vue
  odk-app/src/components/TrialPage.vue
  odk-app/src/components/UserPage.vue
  odk-app/src/components/WelcomePage.vue
  odk-app/src/components/manuals/Manual.vue
  odk-app/src/main.js
  odk-app/src/routes.js
  odk-app/src/styles/elements.scss
Due: build_app, test_app, deploy_app

get user info unauthorized endpoint
  odk-api/app/api/endpoints/users.py
  odk-api/app/schemas/__init__.py
  odk-api/app/schemas/user.py
Due: build_server, integration_test_server, deploy_server

Fetches to staging API for authentication
  odk-app/.env.development
  odk-app/src/components/CodePage.vue
  odk-app/src/components/StreamingClient.vue
  odk-app/src/components/UserPage.vue
  odk-app/src/components/WelcomePage.vue
  odk-app/src/fetchEndpoint.js
Due: build_app, test_app, deploy_app

PWA features, close app = logout
  odk-app/src/App.vue
  odk-app/src/components/ChecklistPage.vue
  odk-app/src/components/StreamingClient.vue
  odk-app/src/components/TrialPage.vue
  odk-app/src/components/WelcomePage.vue
  odk-app/src/mixins/startupCheck.js
  odk-app/src/pwaFeatures.js
Due: build_app, test_app, deploy_app

general cleanup unnecessary functions
  odk-app/src/App.vue
  odk-app/src/components/ChecklistPage.vue
  odk-app/src/components/CodePage.vue
  odk-app/src/components/RecommendationPage.vue
  odk-app/src/components/UserPage.vue
  odk-app/src/utils/fetchEndpoint.js
  odk-app/src/utils/pwaFeatures.js
Due: build_app, test_app, deploy_app

fixes added to soon
  odk-api/app/api/endpoints/frames.py
  odk-app/.env.development
  odk-app/package-lock.json
  odk-app/src/components/StreamingClient.vue
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

code cleaning
  odk-app/public/index.html
  odk-app/src/components/StreamingClient.vue
Due: build_app, test_app, deploy_app

more clean up
  odk-app/src/components/LoginPage.vue
  odk-app/src/components/StreamingClient.vue
  odk-app/src/routes.js
Due: build_app, test_app, deploy_app

only return non admins in unauth endpoint
  odk-api/app/api/endpoints/users.py
  odk-api/app/crud/crud_user.py
Due: build_server, integration_test_server, deploy_server

better env management
  docker-compose.ci.yml
  docker-compose.staging.yml
  odk-api/.ci.env
  odk-api/.development.env
  odk-api/.docker.env
  odk-api/.global.env
  odk-api/.production.env
  odk-api/.staging.env
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

remove qr login feature
  docker-compose.ci.yml
  odk-api/app/api/endpoints/login.py
  odk-api/app/core/config.py
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

more env clean up
  odk-api/.development.env
  odk-api/.production.env
  odk-api/.staging.env
Due: build_server, integration_test_server, deploy_server

stream lining docker compose files
  docker-compose.ci.yml
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

stream lining deployment files
  .gitlab-ci.yml
  docker-compose.development.yml
  docker-compose.production.yml
  nginx.conf
  nginx/conf.d/proxy.conf
  nginx/conf.d/security_headers.conf
  nginx/conf.d/tls.conf
  nginx/conf.d/websocket.conf
  nginx/nginx.conf
  nginx/nginx.dev.conf
Due: reload_nginx

generate manifest app name in build stage app
  docker-compose.development.yml
  docker-compose.production.yml
  docker-compose.staging.yml
  odk-app/Dockerfile
  odk-app/manifest-template.json
  odk-app/update-manifest.js
Due: build_app, test_app, deploy_app

clean up
  odk-app/.env.development
  odk-app/package.json
Due: build_app, test_app, deploy_app

some clean up and fixes
  odk-app/src/components/StreamCount.vue
  odk-app/src/components/StreamingClient.vue
Due: build_app, test_app, deploy_app

new style gitlab-ci
  .gitlab-ci.yml
  .gitlab-ci_copy.yml
Due: none

env var managment
  docker-compose.staging.yml
  odk-api/.staging.env
Due: build_server, integration_test_server, deploy_server

db volume
  docker-compose.staging.yml
Due: none

init if not exists extension
  postgres_dockerfiles/init.sql
Due: none

db init
  .gitlab-ci.yml
  docker-compose.staging.yml
  init-db.sql
Due: none

3 to 3.5 upgrade
  docker-compose.staging.yml
Due: none

moving env vars
  docker-compose.staging.yml
  odk-api/.staging.env
Due: build_server, integration_test_server, deploy_server

- app included - static ips for app and api
  .gitlab-ci.yml
  docker-compose.staging.yml
Due: none

Path conditions:
  reload_nginx: any of: nginx.conf
  build_server: any of: docker-compose.ci.yml, odk-api/**/*
  integration_test_server: any of: docker-compose.ci.yml, odk-api/**/*
  deploy_server: any of: docker-compose.ci.yml, odk-api/**/*
  build_app: any of: docker-compose.ci.yml, odk-app/**/*
  test_app: any of: docker-compose.ci.yml, odk-app/**/*
  deploy_app: any of: docker-compose.ci.yml, odk-app/**/*
