Repository kiranch97/docker-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

.gitlab-ci.yml:

stages:
    - services
    - build
    - test
    - deploy

# NGINX PROXY

start_nginx:
    stage: services
    script:
        - docker-compose -f docker-compose.ci.yml up -d nginx-proxy

# POSTGRES DATABASE

start_database:
    stage: services
    script:
        - docker-compose -f docker-compose.ci.yml up -d postgres-db

# RABBITMQ MESSAGE BROKER

start_rabbitmq:
    stage: services
    script:
        - docker-compose -f docker-compose.ci.yml up -d rabbitmq

# FASTAPI SERVER

build_server:
    stage: build
    script:
        - docker-compose -f docker-compose.ci.yml stop fastapi-server
        - docker-compose -f docker-compose.ci.yml build fastapi-server
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-api/**/*

integration_test_server:
    stage: test
    script:
        - docker-compose -f docker-compose.ci.yml run --rm fastapi-server bash run_db_connection_test.sh
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-api/**/*


deploy_server:
    stage: deploy
    script:
        - docker-compose -f docker-compose.ci.yml up -d --no-deps fastapi-server
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-api/**/*

# VUE PWA

build_app:
    stage: build
    script:
        - docker-compose -f docker-compose.ci.yml stop vue-pwa
        - docker-compose -f docker-compose.ci.yml build vue-pwa
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-app/**/*

test_app:
    stage: test
    script:
        - echo "NOT YET IMPLEMENTED"
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-app/**/*


deploy_app:
    stage: deploy
    script:
        - docker-compose -f docker-compose.ci.yml up -d --no-deps vue-pwa
    rules:
        - changes:
            - docker-compose.ci.yml
            - odk-app/**/*

Fix if-else flow and make regex case insensitive
  odk-app/src/components/BrowserStartPage.vue
  odk-app/src/utils/detect.js
Due: build_app, test_app, deploy_app

Remove stylelint and config
  odk-app/.eslintrc.js
  odk-app/package.json
  odk-app/yarn.lock
Due: build_app, test_app, deploy_app

Change no-console
  odk-app/.eslintrc.js
  odk-app/README.md
Due: build_app, test_app, deploy_app

removed mounted and added prop usage to routes.js
  odk-app/.env.development
  odk-app/src/components/LoginPage.vue
  odk-app/src/routes.js
Due: build_app, test_app, deploy_app

no-console fix
  odk-app/.eslintrc.js
Due: build_app, test_app, deploy_app

stream counter issue fixed, using HTTP requests instead of (interfering with) websocket connection
  odk-app/src/components/StreamCount.vue
  odk-app/src/components/StreamingClient.vue
Due: build_app, test_app, deploy_app

hotfix > enable rmq web interface
  docker-compose.ci.yml
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

fix for last commit
  docker-compose.ci.yml
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

Add moment.js and implement it
  odk-app/package.json
  odk-app/src/components/StreamingClient.vue
  odk-app/src/main.js
  odk-app/yarn.lock
Due: build_app, test_app, deploy_app

Refactor Buefy config
  docker-compose.dev.yml
  odk-app/.env.development
  odk-app/Dockerfile
  odk-app/OdkClient.vue
  odk-app/package-lock.json
  odk-app/package.json
  odk-app/public/index.html
  odk-app/src/App.vue
  odk-app/src/components/BrowserStartPage.vue
  odk-app/src/components/ChecklistPage.vue
  odk-app/src/components/LoginPage.vue
  odk-app/src/components/RecommendationPage.vue
  odk-app/src/components/StreamCount.vue
  odk-app/src/components/StreamingClient.vue
  odk-app/src/components/UserPage.vue
  odk-app/src/components/WelcomePage.vue
  odk-app/src/components/manuals/InstallManual.vue
  odk-app/src/main.js
  odk-app/src/mixins/startupCheck.js
  odk-app/src/server.js
  odk-app/src/styles/elements.scss
  odk-app/src/styles/global/_theme.scss
  odk-app/src/styles/global/_variables.scss
  odk-app/vue.config.js
  odk-app/yarn.lock
Due: build_app, test_app, deploy_app

Resolve "Change recording status style"
  odk-app/src/components/StreamCount.vue
  odk-app/src/components/StreamingClient.vue
Due: build_app, test_app, deploy_app

Hide icon counts; total count bigger and bouncy
  odk-app/src/components/StreamCount.vue
Due: build_app, test_app, deploy_app

removing old nginx file
  nginx_old.conf
Due: none

fixed docker compose dev
  docker-compose.dev.yml
  odk-api/.docker.env
  odk-api/Dockerfile
  odk-api/requirements.txt
  odk-dashboard/.gitignore
  odk-dashboard/README.md
  postgres_dockerfiles/Dockerfile
  postgres_dockerfiles/init.sql
Due: build_server, integration_test_server, deploy_server

prepartion for ci pipeline
  docker-compose.ci.yml
  odk-api/.docker.env
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

temp change to test ci pipeline
  .gitlab-ci.yml
Due: none

disable testing of api
  .gitlab-ci.yml
Due: none

change rmq port from 5672 to 3389
  docker-compose.ci.yml
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

added ci env var file
  docker-compose.ci.yml
  odk-api/.ci.env
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

fix env file location
  docker-compose.ci.yml
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

change table name analysed frame
  odk-api/app/models/frame.py
Due: build_server, integration_test_server, deploy_server

detected objects fix
  odk-api/app/api/routes.py
Due: build_server, integration_test_server, deploy_server

hard coded creds in queue tool
  odk-api/tools/queue_analysed_frames/queue_analysed_frame.sh
Due: build_server, integration_test_server, deploy_server

fixing object count displayed
  odk-app/src/components/StreamCount.vue
Due: build_app, test_app, deploy_app

changing ci back to master
  .gitlab-ci.yml
Due: none

- replacing driver_phone_number with user_id full stack - change QR string format to JSON
  odk-api/app/api/routes.py
  odk-api/tools/send_raw_frames/index.js
  odk-app/src/components/LoginPage.vue
  odk-app/src/components/StreamingClient.vue
Due: build_server, integration_test_server, deploy_server, build_app, test_app, deploy_app

cast qr content with url encoding
  odk-app/src/components/LoginPage.vue
Due: build_app, test_app, deploy_app

qr code documentation
  README.md
Due: none

user model added to database
  odk-api/app/db/base.py
  odk-api/app/models/user.py
Due: build_server, integration_test_server, deploy_server

- user model & schemas - creating admin user on startup
  odk-api/app/core/config.py
  odk-api/app/core/events.py
  odk-api/app/core/security.py
  odk-api/app/crud/__init__.py
  odk-api/app/crud/crud_user.py
  odk-api/app/models/__init__.py
  odk-api/app/schemas/__init__.py
  odk-api/app/schemas/user.py
Due: build_server, integration_test_server, deploy_server

updated requirements
  odk-api/requirements.txt
Due: build_server, integration_test_server, deploy_server

uvicorn on dedicated port
  odk-api/uvicorn_run.sh
Due: build_server, integration_test_server, deploy_server

login functional
  odk-api/app/api/routes.py
  odk-api/app/core/config.py
  odk-api/app/core/security.py
  odk-api/app/crud/crud_user.py
  odk-api/app/schemas/__init__.py
  odk-api/app/schemas/token.py
  odk-api/requirements.txt
Due: build_server, integration_test_server, deploy_server

get current user endpoint functional
  odk-api/app/api/routes.py
  odk-api/app/core/config.py
  odk-api/app/core/events.py
  odk-api/app/crud/crud_user.py
  odk-api/app/logic/users.py
  odk-api/app/models/user.py
  odk-api/app/schemas/token.py
  odk-api/app/schemas/user.py
Due: build_server, integration_test_server, deploy_server

create user through endpoint
  odk-api/app/api/routes.py
  odk-api/app/models/user.py
  odk-api/app/schemas/user.py
Due: build_server, integration_test_server, deploy_server

update user functional
  odk-api/app/api/routes.py
  odk-api/app/crud/crud_user.py
Due: build_server, integration_test_server, deploy_server

get all users functional
  odk-api/app/api/routes.py
  odk-api/app/crud/crud_user.py
Due: build_server, integration_test_server, deploy_server

endpoints in different files
  odk-api/app/api/__init__.py
  odk-api/app/api/endpoints/__init__.py
  odk-api/app/api/endpoints/login.py
  odk-api/app/api/endpoints/objects.py
  odk-api/app/api/endpoints/stream.py
  odk-api/app/api/endpoints/users.py
  odk-api/app/api/routes.py
  odk-api/app/main.py
Due: build_server, integration_test_server, deploy_server
